.outer-most {}

#modal {
    position: absolute;
    top: 117px;
    right: 0;
    left: -100px;
    bottom: 0;
    display: flex;
    padding-left: 1280px;
    padding-right: 20px;
    justify-content: center;
    /* align-items: center; */

}
  
#modal-background {
    position: fixed;
    top: 117px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
  
#modal-content {
    position: absolute;
    background-color:white;
    width: 375px;
    height: 355px;
    border: 1px solid #c5cbd5;
}

