@font-face {
	font-family: 'bestbuy-medium';
	src: url(../../font/HumanSans-Medium.otf);
	font-weight: bold;
}

@font-face {
    font-family: 'bestbuy-bold';
    src: url(../../font/HumanSans-Black.otf);
}

.splash-main {
    width: 100%;
    /* height: 900px; */
    background-color: #f0f2f4;
}

.top-layer {
    width: 100%;
    height: 690px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-deal {
    height: 650px;
    width: 770px;
    /* border: 1px solid black; */
    background-image: url(../../../images/MMT-510776_2022TopDeals-GHPApp-LV-55adde1f-dd0b-48d7-9a08-b28bbc00187d.jpeg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-deal-text {
    margin-top: 360px;
    color: white;
    font-size: 2.5rem;
    font-family: 'bestbuy-bold';
    margin-bottom: 10px;
}
.top-deal-button {
    background-color: white;
    width: 85px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#shop-now {
    color: #0346be;
    font-size: small;
    font-family: 'bestbuy-medium';
    transition: 0.4s;
    width: 100%;
    border-radius: 5px;
}

#shop-now:hover {
    background-color: #0346be;
    color: white;
    border: 1px solid white;
}

.top-right {
    height: 650px;
    width: 770px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 28px;
}

.today-picks-box {
    height: 225px;
    border: 1px solid #c5cbd5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.today-pick-text {
    margin-bottom: 8px;
    width: 730px;
    left: 0;
    font-family: 'bestbuy-medium';
    font-size: large;
}

.today-picks {
    width: 730px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#pick-name {
    font-size: small;
    color: #0346be;
}

#pick-1-link {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
}

.pick-1,
.pick-2,
.pick-3,
.pick-4 {
    width: 173px;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

#pick-1 {
    width: auto;
    height: 80px;
    margin-bottom: 10px;
}


#pick-2 {
    width: 65px;
    margin-bottom: 10px;
    margin-left: 40px;
}


#pick-3 {
    width: 90px;
    margin-bottom: 10px;
    padding-left: 30px;
}


#pick-4 {
    width: 65px;
    margin-bottom: 10px;
    padding-left: 40px;
}

.top-right-bottom {
    height: 397px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.outlet-container {
    height: 100%;
    width: 371px;
    border: 1px solid #c5cbd5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.outlet {
    width: 332px;
    height: 355px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.deal-of-day-container {
    height: 100%;
    width: 371px;
    border: 1px solid #c5cbd5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.deal-of-day {
    width: 332px;
    height: 355px;
    /* border: 1px solid black; */
}

#deal-pic {
    width: 300px;
    margin-top: 50px;
}

#deal-link {
    margin-top: 50px;
    margin-left: 18px;
}

#deal-name {
    margin-top: 30px;
    color: #0346be;
}

.button-box {
    display: flex;
    height: 30px;
    width: 100%;
    /* border:1px solid black; */
}

#outlet {
    width: 57px;
    color: yellow;
    background-color: #0346be;
    font-family: 'bestbuy-medium';
    padding-left: 2px;
}

#deal {
    width: 52px;
    color: white;
    background-color: #0346be;
    font-family: 'bestbuy-medium';
}

.below-button {
    width: 100%;
    height: 305px;
    cursor: pointer;
}

.outlet-details {
    height: 5px;
    font-size: small;
    padding-left: 2px;
}

.deal-title {
    display: flex;
    height: 30px;
    width: 100%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
}

.deal-text {
    width: 57px;
    height: 30px;
    background-color: #bb0628;
    color: white;
    font-family: 'bestbuy-medium';
    display: flex;
    align-items: center;
    justify-content: center;
}

.deal-rest-title {
    font-family: 'bestbuy-medium';
    margin-left: 2px;
}

.deal-item {
    width: 100%;
    height: 303px;
}

.bonus-deals {
    height: 5px;
    width: 100%;
    padding-left: 2px;
}

.deal-center {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.deal-container {
    width: 1600px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.splash-item-container {
    width: 395px;
    height: 485px;
    border: 1px solid #e0e6ef;
    display: flex;
    justify-content: center;
    background-color: white;
}

.splash-item-wrap {
    /* width: 300px; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.splash-item-pic {
    margin-top: 30px;
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

#splash-item-pic {
    max-width: 350px;
    /* width: 200px; */
    max-height: 250px;
    object-fit: cover;
    height: auto;
    /* border: 1px solid black; */
}

.splash-item-price {
    font-family: 'inter', sans-serif;
}

.splash-item-text {
    text-align: center;
    margin: 0 20px 0 20px;
    /* border: 1px solid black; */
    height: 85px;
}

.splash-divider {
    width: 1580px;
    height: auto;
    font-size: xx-large;
    font-family: 'bestbuy-medium';
    margin-top: 100px;
    margin-bottom: 20px;
}

#link-shop-now:hover {
    text-decoration: none;
    color: white;
}

#link-shop-now {
    font-family: 'bestbuy-medium';
    color: #0346be;
}