* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.home-header {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 1px solid black;
	height: 115px;
	background-color: rgb(0,70,190);
}

.upper-header {
	width: 100%;
	height: 73px;
	border-bottom: 1px solid rgb(73,118,130);
	display: flex;
	justify-content: space-around;
	position: sticky;
}

.home-header-left {
	display: flex;
	justify-content: space-between;
	/* width: ; */
}

.icon {
	width: 12%;
	/* padding-right: 20px; */
}

#logo {
	padding-top: 10px;
	width: 100%;
}

.dropdown-menu {
	padding-top: 25px;
	/* padding-right: 20px; */
	width: 9%;
	display: flex;
	flex-direction: row;
	font-size: x-large;
	color: white;
}

.search-bar {
	width: 70%;
	display: flex;
	height: 80px;
}

#search {
	margin-top: 20px;
	width: 100%;
	height: 50%;
	padding-left: 10px;
	border-radius: 5px;
}

#magnify {
	cursor: pointer;
	height: 40px;
	margin-top: 20px;
	margin-left: -4px;
	width: 40px;
	background-color: white;
	border-radius: 0px 5px 5px 0px;
}

.home-header-right {
	display: flex;
	justify-content: space-between;
}

.store-finder {
	display: flex;
	flex-direction: row;
	font-size: x-large;
	padding-top: 25px;
	color: white;
	padding-right: 50px;
}

.cart {
	display: flex;
	flex-direction: row;
	font-size: x-large;
	padding-top: 25px;
	color: white;
}

.lower-header {

}

#acc-button {
	cursor: pointer;
}
